
.loader {
    /* visibility: visible; */
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    z-index: 500000 !important;
    width: 100%;
    height:100%;
    display:block;
    background: url('../images/assets/loading.gif')50% 50% no-repeat;
  }

.dt-buttons{
  padding-bottom: 10px !important;
}

